body.darkmode,body.darkmode.template-index .main-content .section-bg {
  background: #222;
  color: #fff;
}
body.darkmode #ttcmsservices .block_content{
  background: #fff;
}
body.darkmode .product-information .payment-content .payment-desc{
  color: #666;
}
body.darkmode #newsletterModal .modal-content .modal-block{
  background-color: #222;
}
body.darkmode .product-template__container .modal-dialog .modal-content .tt-title{
  background: #fff;
  color: #222;
}
body.darkmode .product-template__container .modal-dialog .modal-content{
  background: #222;
}
body.darkmode #newsletterModal .close::after,body.darkmode .fixed-cart-wrap #slidedown-cart .cart-close::after,body.darkmode .fixed-cart-wrap #slidedown-cart .cart-close::before,body.darkmode  #newsletterModal .close::before,body.darkmode .menu-opening .mobile-facets__close::after,body.darkmode .menu-opening .mobile-facets__close::before,body.darkmode #slidedown-cart .btn-remove::after, body.darkmode #slidedown-cart .btn-remove::before,body.darkmode .product-notification .closeNotify::after,body.darkmode .product-notification .closeNotify::before, body.darkmode .off-canvas .sidebar_close::after,body.darkmode .off-canvas .sidebar_close::before,body.darkmode .lightbox .lb-dataContainer .lb-data .lb-closeContainer .lb-close:before,body.darkmode .lightbox .lb-dataContainer .lb-data .lb-closeContainer .lb-close:after,body.darkmode .product-template__container .modal-dialog .modal-content .modal-header button.close::before,body.darkmode .product-template__container .modal-dialog .modal-content .modal-header button.close::after,body.darkmode .quick-view .close-window::before,body.darkmode .quick-view .close-window::after, body.darkmode .compare-model .modal .modal-dialog .modal-content .close::after, body.darkmode .compare-model .modal .modal-dialog .modal-content .close::before,
body.darkmode .ajax-success-modal .close-modal::before,body.darkmode .ajax-success-modal .close-modal::after{
  background-color: #fff;
}
body.darkmode .quick-view .close-window:hover:before,body.darkmode .quick-view .close-window:hover:after,body.darkmode .fixed-cart-wrap #slidedown-cart .cart-close:hover::after,body.darkmode .fixed-cart-wrap #slidedown-cart .cart-close:hover::before,
body.darkmode .ajax-success-modal .close-modal:hover::before,body.darkmode .ajax-success-modal .close-modal:hover::after,body.darkmode #slidedown-cart .btn-remove:hover::after,body.darkmode #slidedown-cart .btn-remove:hover::before{
  background-color: #222;
}
body.darkmode .lightbox .lb-dataContainer{
  background: #222;
}
body.darkmode .lightbox .lb-dataContainer .lb-data .lb-caption,body.darkmode .lightbox .lb-dataContainer .lb-data .lb-number{
  color: #fff;
}
body.darkmode .cart-popup-wrapper.modal .cart-content{
  background: #222;
}
body.darkmode .compare-model .modal .modal-dialog .modal-content .modal-body{
  background: #222;
}
body.darkmode .product-single .pro_btn.add-to-wishlist .added-wishlist.btn.add_to_wishlist,body.darkmode .product-single .pro_btn.add-to-wishlist .added-wishlist.btn.add_to_wishlist svg,body.darkmode .product-single .pro_btn.add-to-compare .add-in-compare-js.btn.added svg,body.darkmode .product-single .pro_btn.add-to-compare .add-in-compare-js.btn.added{
  color: #fff;
}
body.darkmode .feature-blog .section-header{
  padding: 0 15px;
  margin: 15px 0;
}
body.darkmode .blog_latest_new_home .grid--blog{
  background: #fff;
  padding: 15px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}
body.darkmode #newsletterModal .modal-header i.mdi.mdi-close,body.darkmode #newsletterModal .modal-header{
  background: #222;
}
body.darkmode .quick-view .content{
  background: #222;
}
body.darkmode .sticky-link-icon .link-icon-content{
  background: #222;
}
body.darkmode .sticky-link-icon .link-icon-content,body.darkmode .social-icon-content ul{
  background: #222;
}
body.darkmode .main-social-icon li .social-text,body.darkmode .sticky-link-icon li .text{
  background: #333;
}
body.darkmode .sticky-link-icon li .text::after{
  border-left: 5px solid #333;
}
body.darkmode .main-social-icon li .social-text::after{
  border-right: 5px solid #333;
}
body.darkmode #newsletterModal .modal-newsletter .row-subscibe input,body.darkmode #newsletterModal .modal-newsletter .row-subscibe input[type="text"]::placeholder {
  color: #fff;
}
body.darkmode #newsletterModal .modal-newsletter .checkbox-group label:hover {
  color: #fff;
}
body.darkmode .sticky-link-icon li svg,body.darkmode .main-social-icon li .mdi{
  color: #fcfcfc;
}
body.darkmode .myaccount .customer_account,body.darkmode #slidedown-cart {
  background: #222;
}
body.darkmode .quantity__button{
  background: #333;
}
body.darkmode .quantity__button:hover {
  background: #171515;
}
body.darkmode .mini-cart-footer{
  background: #333;
}
body.darkmode #slidedown-cart .total .label{
  color: #aaa;
}
body.darkmode .totals__subtotal-value,body.darkmode cart-note.cart__note.field label{
  color: #fff;
}
body.darkmode .lightbox .lb-outerContainer,body.darkmode .lightbox .lb-outerContainer .lb-container .lb-nav a.lb-prev,body.darkmode .lightbox .lb-outerContainer .lb-container .lb-nav a.lb-next{
  background-color: #222;
}
body.darkmode .lightbox .lb-outerContainer .lb-container .lb-nav a.lb-prev:before,body.darkmode .lightbox .lb-outerContainer .lb-container .lb-nav a.lb-next:before{
  color: #fff;
}
body.darkmode .myaccount .customer_account ul > li > a:hover{
  color: #fff;
}
body.darkmode .address-container .address-text .content > .address-label{
  color: #aaa;
}
body.darkmode .design_1 .product-information.product_fixed_block .payment-content .payment-detail,body.darkmode .design_1 .product-information.product_fixed_block .payment-content .security-text{
  background: #222;
}
body.darkmode .product-information .payment-content .payment-subtitle, .product-information .payment-content .payment-security{
  color: #fff;
}
body.darkmode .qty-box-set .qtyminus > i,body.darkmode .qty-box-set .qtyplus > i,body.darkmode .qty-box-set .qtyminus1 > i,body.darkmode .qty-box-set .qtyplus1 > i{
  color: #fff;
}
body.darkmode .qty-box-set .qtyminus:hover > i,body.darkmode .qty-box-set .qtyplus:hover > i,body.darkmode .qty-box-set .qtyminus1:hover > i,body.darkmode .qty-box-set .qtyplus1:hover > i{
  color: #222;
}
body.darkmode .filter-grid-list .grid.active::before,body.darkmode .filter-grid-list .grid:hover::before,body.darkmode .filter-grid-list .list.active::before,body.darkmode .filter-grid-list .list:hover::before,body.darkmode .filter-grid-list .short-list.active::before,body.darkmode .filter-grid-list .short-list:hover::before{
  color: #fff;
}
body.darkmode .mobile-facets__inner,body.darkmode .mobile-facets__main .main.mobile-facets__footer{
  background: #222;
}
body.darkmode .collection_template .facet-filters__sort{
  background: #222;
}
body.darkmode input[type="text"],body.darkmode input[type="password"],body.darkmode input[type="file"],body.darkmode input[type="number"],body.darkmode input[type="tel"]{
  background: #222;
}
body.darkmode .related-products.product-grid,body.darkmode #recently-viewed-products{
  background: #fff;
}
body.darkmode .products-grid-view{
  background: #fff;
}
body.darkmode .collection_sidebar .facets-container .sidebar-content::-webkit-scrollbar-track,body.darkmode .collection_sidebar ul.product-categories::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(55, 255, 255, 0.2);
}
body.darkmode .collection_sidebar .facets-container .sidebar-content::-webkit-scrollbar-thumb,body.darkmode .collection_sidebar ul.product-categories::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
}
body.darkmode .qty-box-set .qtyminus,body.darkmode .qty-box-set .qtyplus,body.darkmode .qty-box-set .qtyminus1,body.darkmode .qty-box-set .qtyplus1 {
  background: #222;
}
body.darkmode .qty-box-set .qtyminus:hover,body.darkmode .qty-box-set .qtyplus:hover,body.darkmode .qty-box-set .qtyminus1:hover,body.darkmode .qty-box-set .qtyplus1:hover {
  background: #333;
}
body.darkmode .quick-view .quick-shop-modal-bg{
  background: #222;
}
body.darkmode .quick-view .quick-shop-modal-bg .spinner{
  border-top-color: #fff;
  border-bottom-color: #fff;
}
body.darkmode .slider-mobile-gutter{
  background: #fff;
}